<div class="media">
  
  <%= link_to [promotion, promotion], class: 'pull-left' do %>
    <%= image_tag(promotion.image.thumb.url) if promotion.image? %>
  <% end %>
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to (promotion.title), [promotion, promotion] %>
    </h4>
    <small>
      <%= image_tag(promotion.user.avatar.tiny.url) if promotion.user.avatar? %>
      submitted <%= time_ago_in_words(promotion.created_at) %> ago by 
      <%= link_to promotion.user.name, post.user %><br/>
      <%= promotion.offer.count %> Comments
    </small>
  </div>
</div>
