<h1>All Promotions</h1>
<% if can? :create, Promotion %>
<%= link_to "New Promotion", new_promotion_path, class: 'btn' %>
<% end %>
<% @promotions.each do |promotion| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to promotion.title, promotion %>
      </h4>
      <small>
        submitted <%= time_ago_in_words(promotion.created_at) %> ago by <%= promotion.user.name %><br/>
        <%= promotion.offers.count %> Offers
      </small>
    </div>
  </div>
<% end %>
<div class="pagination pagination-large pagination-centered">
  <%= will_paginate @promotions %>
</div>
