<h3>All Promotions</h3>
<div>
<% if can? :create, Promotion %>
<%= link_to "New Promotion", new_promotion_path, class: 'btn btn-primary btn-mini' %>
<% end %>
</div>


<div class="row">
  <% @promotions.each do |promotion| %>
  <div class="span3">
    <ul class="thumbnails">
      <li class="span3">
        <div class="thumbnail">
        <%= image_tag("lepiedsdanslo1.jpg") %>
          <p><%= link_to promotion.title, promotion %></p>
              <p><%= promotion.price %></p>
                <img src="<%= qr_code(150, "http://mobilewrx.herokuapp.com") %>" />
                    <p></p>
                      <p><%= promotion.expiration %></p>                 
                        <p><a href="#" class="btn btn-small">Buy Now</a></p>
                    </div>
             
  </li>
</ul>
</div>
<% end %>
</div>










<div class="pagination pagination-large pagination-centered">
  <%= will_paginate @promotions %>
</div>


