<h1>New Promotion</h1>
<div class="thumbnail">
<div class="row">
  <div class="span4">
    <br>
    <p>Guidelines for new promotions:</p>
    <ul>
      <li>Provide a title for the promotion</li>
      <li>Provide brief description</li>
      <li>Set a price</li>
      <li>Provide website URL</li>
      <li>Set Expiration date</li>
    </ul>
  </div>
  <div class="span4">
    <br>
    <%= simple_form_for @promotion, html: { class: 'form-horizontal' } do |f| %>
      <div class="control-group">
        <%= f.label :title, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :title %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :description, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :body %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :price, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :price %>
        </div>
      </div>
        <div class="control-group">
        <%= f.label :website, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :website %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :expiration, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :expiration %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.submit "Save", class: 'btn' %>
        </div>
      </div>
    <% end %>
    <div>
  </div>
</div>
