<div class="thumbnail">
<h3><%= @promotion.title %></h3>
<div class="row">
  
  <div class="span4">
    
    <p><%= @promotion.body %></p>
    <p><%= link_to @promotion.website %></p>
    <p>Expires: <%= @promotion.expiration %></p>    
    
  </div>
</div>
</div>
<% if can? :edit, @promotion %>
<%= link_to "Edit", edit_promotion_path(@promotion), class: 'btn btn-mini' %>
<% end %>

